<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Filterring.Configuration.Security" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Filterring.Configuration.Apps" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Filterring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Filterring.Configuration.Security>
            <setting name="Lock" serializeAs="String">
                <value>True</value>
            </setting>
        </Filterring.Configuration.Security>
        <Filterring.Configuration.Apps>
            <setting name="App1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App6Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App7Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App8Path" serializeAs="String">
                <value />
            </setting>
            <setting name="App9Path" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskManagerPath" serializeAs="String">
                <value />
            </setting>
        </Filterring.Configuration.Apps>
        <Filterring.Properties.Settings>
            <setting name="State" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
        </Filterring.Properties.Settings>
    </userSettings>
</configuration>